// Animations



// Element hover transitions
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin button-fade($duration: .5s, $function: ease) {
  transition: background $duration $function, border $duration $function, color $duration $function;
}

@mixin menu-fade($duration: .5s, $function: ease) {
  transition: background $duration $function, color $duration $function;
}

@mixin menu-border-fade($duration: 5s, $function: ease) {
  transition: opacity $duration $function;
}
